<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a routerLink="/" routerLinkActive="active" class="pr-3 no-after peers fxw-nw ai-c lh-1">
        <img src="/assets/images/cryptoworld.png" alt="logo" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item border-left">
                <a routerLink="/" class="nav-link px-3"> GDP vs Crypto </a>
            </li>
            <li class="nav-item border-left">
                <a routerLink="/billionaires" class="nav-link px-3"> Billionaires vs Crypto </a>
            </li>
            <li class="nav-item border-left">
                <a routerLink="/athletes" class="nav-link px-3"> Athletes vs Crypto </a>
            </li>
            <li class="nav-item border-left">
                <a routerLink="/cars" class="nav-link px-3"> Cars vs Crypto </a>
            </li>
            <!-- <li class="nav-item border-left">
                <a routerLink="/market-value" class="nav-link px-3"> Coin Value Predictor (Market Cap) </a>
            </li> -->
        </ul>
    </div>
</nav>