<div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <img class="card-img-top" height="400" [src]="bookObj.image" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">{{bookObj.description}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a [href]="bookObj.amazon" target="_blank">Buy Now</a>
          </div>
          <small class="text-muted">{{bookObj.read_time}}</small>
        </div>
      </div>
    </div>
  </div>
